@tailwind base;
@tailwind components;
@tailwind utilities;

[href] {
    background-image: none;
}

button:hover {
    background-color: rgb(46, 57, 71, 0.9)!important;
    color: whitesmoke !important;
}